<mat-toolbar>
  @if (isDummy) {
    <mat-slide-toggle (change)="toggleAutoClick($event)">Auto Click</mat-slide-toggle>
  }
  
  <div class="header-container">
      <div class="item">
        <button
          type="button"
          class="menu-icon-btn"
          aria-label="Toggle menu"
          (click)="toggleMobileMenu($event)">
          <img
            class="menu-icon"
            [src]="
              isOpenMobileMenu
                ? 'assets/icons/menu-open.svg'
                : 'assets/icons/menu-close.svg'
            "
            alt="" />
        </button>

        @if (authService.hasAccess(['dashboard', 'home', 'view'], dagw ? 'dagw' : 'mdcs')) {
          <a
            (click)="setActiveMu(dagw ? 'monitoring' : 'dashboard')"
            style="text-decoration: none"
            [routerLink]="dagw ? [routesUrl?.monitoring?.busOperation] : [routesUrl?.dashboard?.home]"
            class="logo">
            <span>{{ dagw ? 'DAGW' : 'MDCS' }}</span>
          </a>
        } @else {
          <a style="text-decoration: none" class="logo">
            <span>{{ dagw ? 'DAGW' : 'MDCS' }}</span>
          </a>
        }
      </div>
      <div class="nav-wrapper">
        @for (nav of navList; track nav.value) {
          <div class="item">
            <button
              mat-button
              [matMenuTriggerFor]="sharedMenu"
              class="parent-menu"
              [ngClass]="{ active: activeMenu === nav.value }"
              (menuOpened)="menuHandler('open', nav.value)"
              (menuClosed)="menuHandler('close', nav.value)">
              {{ nav.label }}
              <mat-icon
                class="menu-button"
                [ngClass]="{ rotated: expandedMenu[nav.value] }"
                >expand_more</mat-icon
              >
            </button>
            <mat-menu #sharedMenu="matMenu">
              @if (nav.subs && nav.subs.length > 0) {
                @for (sub of nav.subs; track sub.value) {
                  @if (sub?.action === 'redirectToCDA') {
                    <button
                      mat-menu-item
                      class="menu"
                      (click)="redirectToCDA(); setActiveMu(nav.value)">
                      {{ sub.label }}
                    </button>
                  } @else if (sub.subs && sub.subs.length > 0) {
                    <button
                      mat-menu-item
                      routerLinkActive="active"
                      [matMenuTriggerFor]="sharedSubMenu"
                      class="menu">
                      {{ sub.label }}
                    </button>
                    <mat-menu #sharedSubMenu="matMenu">
                      @for (child of sub.subs; track child.value) {
                        <button
                          mat-menu-item
                          [routerLink]="[child.href]"
                          routerLinkActive="active"
                          class="menu"
                          (click)="setActiveMu(nav.value)">
                          {{ child.label }}
                        </button>
                      }
                    </mat-menu>
                  } @else if (!!sub?.target) {
                    <a
                      mat-menu-item
                      href="{{ sub.href }}"
                      routerLinkActive="active"
                      class="menu"
                      [target]="sub.target">
                      {{ sub.label }}
                    </a>
                  } @else if (!!sub?.href) {
                    <button
                      mat-menu-item
                      [routerLink]="[sub.href]"
                      routerLinkActive="active"
                      class="menu"
                      (click)="setActiveMu(nav.value)">
                      {{ sub.label }}
                    </button>
                  }
                }
              }
            </mat-menu>
          </div>
        }
      </div>
      <div class="item">
        <app-notification></app-notification>
        <button
          mat-icon-button
          class="icon profile-btn"
          [matMenuTriggerFor]="profile"
          aria-label="Profile">
          <p>{{ userInitial }}</p>
        </button>
        <mat-menu #profile="matMenu" yPosition="below">
          <div style="width: 360px; padding: 20px 0; border-radius: 4px">
            <h3 style="text-align: center; font-size: 24px; font-weight: bold">
              {{ givenName || 'User' }}
            </h3>
            <p style="text-align: center; font-size: 16px; font-weight: bold">
              {{ userName }}
            </p>
            @if (authService.hasAccess(['changePassword', 'view'], dagw ? 'dagw' : 'mdcs') && !dagw) {
              <a
                [href]="settingDefault?.change_password_url"
                mat-menu-item
                target="_blank"
                rel="noopener"
                style="border-top: 1px solid #eee; font-size: 16px">
                Change Password
              </a>
            }
            <button
              mat-menu-item
              type="button"
              (click)="logOut()"
              style="
                border-top: 1px solid #eee;
                font-size: 16px;
                color: #9f0f0f;
              ">
              Log Out
            </button>
          </div>
        </mat-menu>
      </div>
    </div>

    <nav class="mobile-nav" #mobileNav [ngClass]="{ hide: !isOpenMobileMenu }">
      @for (nav of navList; track nav.value) {
        <mat-accordion multi>
          <div class="panel-wrapper">
            <mat-expansion-panel togglePosition="before">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ nav.label }}</mat-panel-title>
              </mat-expansion-panel-header>

              @for (sub of nav.subs; track sub.value) {
                @if (sub?.action === 'redirectToCDA') {
                  <div class="nav-item">
                    <button
                      mat-menu-item
                      class="menu"
                      [ngClass]="{
                        'nav-active': checkNavActive(sub.href || '')
                      }"
                      (click)="redirectToCDA(); setActiveMu(nav.value)">
                      {{ sub.label }}
                    </button>
                  </div>
                } @else if (sub?.subs?.length > 0) {
                  <div class="sub-panel-wrapper">
                    <mat-expansion-panel togglePosition="before">
                      <mat-expansion-panel-header>
                        <mat-panel-title>{{ sub.label }}</mat-panel-title>
                      </mat-expansion-panel-header>

                      @for (child of sub.subs; track child.value) {
                        <div class="nav-item">
                          <button
                            mat-menu-item
                            [routerLink]="[child.href]"
                            routerLinkActive="active"
                            class="menu"
                            [ngClass]="{
                              'nav-active': checkNavActive(child.href)
                            }"
                            (click)="setActiveMu(nav.value)">
                            {{ child.label }}
                          </button>
                        </div>
                      }
                    </mat-expansion-panel>
                  </div>
                } @else if (!!sub?.target) {
                  <div class="nav-item">
                    <a
                      mat-menu-item
                      href="{{ sub.href }}"
                      routerLinkActive="active"
                      class="menu"
                      [target]="sub.target">
                      {{ sub.label }}
                    </a>
                  </div>
                } @else if (!!sub?.href) {
                  <div class="nav-item">
                    <button
                      mat-menu-item
                      [routerLink]="[sub.href]"
                      routerLinkActive="active"
                      class="menu"
                      [ngClass]="{ 'nav-active': checkNavActive(sub.href) }"
                      (click)="setActiveMu(nav.value)">
                      {{ sub.label }}
                    </button>
                  </div>
                }
              }
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      }
    </nav>
</mat-toolbar>
