<div class="background middle">
  <div class="container">
    <div class="logo">
      <img src="/assets/images/sign-logo.png" alt="Sign-in logo" />
    </div>
    <h1 class="title container-fluid text-center">Welcome to DACS/DAGW</h1>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <button
        style="width: 100%; margin-bottom: 20px"
        mat-raised-button
        color="primary">
        Sign in
        <mat-icon iconPositionEnd>east</mat-icon>
      </button>
    </form>
  </div>
</div>
