.background {
  background-image: url('/assets/images/sign-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.middle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}


.container {
  // max-width: 400px;
  // margin: auto;
  // padding-top: 100px;
  // text-align: center;
  padding: 3rem;
}

.logo {
  text-align: center;
  padding: 1rem;
}

h1.title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 16px;
}

a {
  color: black;
  margin: auto;
}
