<footer>
  <div class="container">
    <div class="footer-items left">
      <div class="item">
        <span>{{ isDagw ? 'DAGW' : 'MDCS' }} SW Version: </span>
        <span class="value">{{ version }}</span>
      </div>
      @if (isDagw) {
        <div class="item">
          <span>Depot Abbreviation: </span>
          <span class="value">{{ depot.depot_code }}</span>
        </div>
      }
      <div class="item">
        <span>Service Provider: </span>
        <span class="value">{{ svcProvCode }}</span>
      </div>
      <div class="item">
        <button
          type="button"
          mat-flat-button
          class="btn-system"
          [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger">
          <div class="system-info">
            <mat-icon style="color: #000">info</mat-icon>
            System Connection:
            <mat-icon style="color: #009e73">check_circle</mat-icon>
            <span style="color: #009e73; padding-right: 6px">{{
              connectedCount()
            }}</span>
            <mat-icon style="color: #9f0f0f">cancel</mat-icon>
            <span style="color: #9f0f0f">{{ disconnectedCount() }}</span>
          </div>
        </button>

        <mat-menu #menu="matMenu">
          <div class="sys-list">
            @for (sys of systems; track sys.name) {
              <div class="sys-item">
                <p>{{ sys.name }}:</p>
                <span>
                  <mat-icon
                    [style.color]="sys.status === 1 ? '#009e73' : '#9f0f0f'"
                    >{{
                      sys.status === 1 ? 'check_circle' : 'cancel'
                    }}</mat-icon
                  >
                </span>
              </div>
            }
          </div>
        </mat-menu>
      </div>
    </div>
    <div class="footer-items right">
      <div class="item">
        <div class="pdt-file">
          <mat-icon style="color: #fff">close</mat-icon>
          PDT File
          <img
            src="/assets/icons/download.svg"
            alt="download icon"
            style="width: 18px" />
        </div>
      </div>
      <div class="item">
        <span class="value">{{ currentDate | date: 'dd/MM/yyyy HH:mm' }}</span>
      </div>
      @if (!isDagw) {
        <div class="item">
          <div class="event" [routerLink]="['event-history']">
            <img src="assets/icons/eye.svg" alt="eye icon" /><span
              >Event History</span
            >
          </div>
        </div>
      }
    </div>
  </div>
</footer>
