@use '../../../styles/breakpoints' as *;

.main-background {
  background-image: url('/assets/images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .main-container {
    width: 80%;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
    overflow-y: hidden;

    @include respond-to-min(sm) {
      padding: 0 20px;
      width: 100%;
    }

    @include respond-to-min(xl) {
      padding: 0;
      width: 90%;
    }

    @include respond-to-min(xxxl) {
      width: 80%;
    }
  }

  .breadcrumbs {
    margin-top: 10px;
  }

  .main-content {
    height: 100%;
    overflow: hidden;
  }
}
