<div class="breadcrumbs">
  <app-breadcrumbs
    [menuItem]="'Monitoring'"
    [headerTitle]="'View Card Key Versions'"></app-breadcrumbs>
</div>

<mat-card>
  <mat-card-header>
    <h1 class="page-title">View Card Key Versions</h1>
  </mat-card-header>
  <mat-divider> </mat-divider>
  <mat-card-content>
    <div class="filter-wrapper">
      <mat-form-field>
        <mat-select
          [(ngModel)]="depotSelected"
          (ngModelChange)="searchDepot()"
          placeholder="Select Depot">
          @for (depot of depots; track depot) {
            <mat-option [value]="depot.depot_id">
              {{ depot.depot_name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (depotSelected) {
        <!-- <mat-form-field>
        <input matInput placeholder="Search by keyword" type="search" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field> -->
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Search by keyword"
            type="search"
            [formControl]="searchControl" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-checkbox
          [(ngModel)]="chkInconsistent"
          style="margin-left: 20px"
          color="primary"
          (ngModelChange)="searchStatus()">
          Inconsistent Card Key Versions
        </mat-checkbox>
      }
    </div>

    <mat-divider></mat-divider>

    <div
      [style.border-bottom-width]="depotSelected ? '1px' : 0"
      class="card-key-version-content"
      [ngClass]="{ 'default-height': !tableData.length }">
      @if (depotSelected) {
        <div class="card-key-table">
          <table>
            <tr>
              <th>DAGW Card Key Versions</th>
              @for (ver of dagwSource; track ver) {
                <td
                  [ngClass]="
                    dagwVersionStatus === '2' ? 'chk-inconsistent failed' : ''
                  ">
                  {{ ver }}
                </td>
              }
            </tr>
          </table>
        </div>

        <div class="legend">
          <div class="flex-center-center">
            <div class="box box-yellow"></div>
            <span>Inconsistent</span>
          </div>
          <div class="flex-center-center">
            <div class="box box-orange"></div>
            <span>Authentication Failure</span>
          </div>
        </div>

        <ag-grid-angular
          style="width: max-content; min-width: 100%; height: 100%"
          [gridOptions]="gridOptions"
          [components]="components"
          [icons]="icons"
          noRowsOverlayComponent="noDataOverlay"
          class="ag-theme-quartz common-ag" />
      } @else {
        <div class="empty-state">
          <img
            src="/assets/icons/folder-empty.svg"
            alt="Empty folder"
            class="empty-icon" />
          <h2 class="empty-title">Complete selection to view info.</h2>
          <p class="empty-message">No data to display.</p>
        </div>
      }
    </div>
    @if (depotSelected) {
      <div class="flex-center-center">
        <app-pagination
          [totalItems]="rowCount"
          [currentPageInput]="currentPage"
          (pageChange)="onPageChange($event)"></app-pagination>
      </div>
    }
  </mat-card-content>
</mat-card>
