<div>
  <div class="wrapper">
    <div>
      @if (data?.type === 'success') {
        <!-- Success Icon -->
        <svg
          class="icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            fill="#27ae60"
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10
          10-4.48 10-10S17.52 2 12 2zm-1 15l-5-5
          1.41-1.41L11 14.17l7.59-7.59L20 8l-9 9z" />
        </svg>
      } @else {
        @if (data?.type === 'warning') {
          <!-- Warning Icon -->
          <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path
              fill="#f39c12"
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 
            10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
        } @else {
          <!-- Error Icon -->
          <svg
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path
              fill="#e74c3c"
              d="M12 2C6.48 2 2 6.48 2 12s4.48 
            10 10 10 10-4.48 10-10S17.52 2 12 
            2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
          </svg>
        }
      }
    </div>
    <div>
      <h1 class="title">{{ data?.title || 'Success!' }}</h1>
      @if (isMessageString) {
        <span class="snackbar-message">{{ data?.message }}</span>
      } @else {
        @for (message of data?.message; track message) {
          <h4 class="multi-title">{{ message?.title }}</h4>
          <p class="multi-message">{{ message?.message }}</p>
        } @empty {
          <div>No Error message</div>
        }
      }
    </div>
  </div>
  <button class="snackbar-action" (click)="dismiss()">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24">
      <path
        fill="#333"
        d="M18.3 5.71L12 12l6.29 6.29-1.42 
        1.42L12 13.41l-6.29 6.3-1.42-1.42L10.59 
        12 4.3 5.71 5.71 4.3 12 10.59l6.29-6.3z" />
    </svg>
  </button>
</div>
