@use '../../../../styles/breakpoints' as *;

.label {
  font-size: 16px;
  font-weight: bolder;
}

.active {
  color: #648fff;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .box {
    width: 24px;
    height: 13px;
    margin-right: 10px;
    border: 1px solid #000;

    &-inconsistent {
      background-color: #fff0cf;
    }

    &-active {
      background-color: #648fff;
    }
  }
}

.active {
  color: #648fff;
  font-weight: bold;
}

.inconsistent {
  background-color: #fff0cf;
}

.failed {
  background-color: #ffe1e1;
}

::ng-deep .mdc-floating-label {
  padding-bottom: 15px;
}

.inconsistent-row {
  background-color: #FFF8EA !important;
}

.inconsistent-row td {
  background-color: #FFF8EA !important;
}

.header-row {
  background-color: #4a5964;
  font-weight: 600;
  height: 56px !important;
  color: #ffffff;
}
