.label {
  font-size: 16px;
  font-weight: bolder;
}

.status {
  padding: 4px 10px;
  border-radius: 16px;

  &.Active,
  &.active {
    background-color: #007a59;
    color: white;
  }

  &.Inactive,
  &.inactive,
  &.Future,
  &.future {
    background-color: #ffb000;
    color: #000;
  }

  &.Obsolete,
  &.obsolete {
    background-color: #6b7280;
    color: white;
  }
}
