::ng-deep .mat-mdc-select-arrow,
.mat-datepicker-toggle {
  display: none;
}

.description {
  background-color: #0072b2 !important;
}

// .button-filter {
//   margin-left: auto;
// }

::ng-deep .mdc-floating-label {
  padding-bottom: 15px;
}
